/*
color Palette
ijo:#24f2ad
biru:  #121d28
koneng:
*/


* {
    color: white;
    font-family: Lato, Raleway, Helvetica, Arial, sans-serif;
}

body {
    background: #121d28;
}

.bg-transparent {
    background-color: transparent;
    border-bottom-style: none;
    border-top-style: none;
}

.navbar-brand {
    font-family: Tarpino;
    color: ;
}

.navbar-brand span {
    font-family: poppins, lato, helvetica, arial, sans-serif;
}

.jumbotron-fluid {
    background: transparent;
}

.jumbotron-fluid .container .display-4 {
    font-family: poppins;
    text-align: center;
    /*font-size: 24px;*/
}

.jumbotron-fluid .container .lead {
    font-family: poppins;
    text-align: center;
}


.jumbotron-fluid .container {
    margin: 95px auto;
}

.btn-primary {
    display: block;
    margin: 0 auto;
    background-color: #24f2ad;
    font-family: "poppins light";
    -webkit-border-radius: 20px;
    padding: 7px 25px;

}

.container button a {
    text-decoration: none;
    color: white;
}

.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.active {
    border-bottom: solid 3px #24f2ad;
    margin-left: 15px;
}

.img-fluid {
    width: 10%;
}

/* 
========================================== 
SIGN UP STYLE
========================================== 
*/

#signupForm {
    width: 50%;
    margin: 20px auto;
    background: #efefef;
    padding: 60px 120px 80px 120px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    position: relative;
    margin: 40px 0px;
}

.label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120, 120, 120);
    transition: ease .3s;
}

.input {
    color: black;
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
}

.label-active {
    top: -3em;
}

button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220, 220, 220);
    font-weight: bold;
    color: rgb(120, 120, 120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
}

button:hover {
    background:#24f2ad ;
    color: #121d28 ;
}


/* 
========================================== 
RESPONSIVE
========================================== 
*/

@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/


@media only screen and (max-width: 1600px) {}

/************
2. 1440px
************/

@media only screen and (max-width: 1540px) {}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px) {}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px) {}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px) {
     .jumbotron-fluid .container .display-4 {
        
    }

    .jumbotron-fluid .container .lead {
    }

    .jumbotron-fluid .container {
        margin:120px auto;
    }

    
    .btn-primary {
        margin-top: 60px;
    }
    
    #signupForm{
        width: 900px;
        height: 700px;
        padding: 40px
    }


}

/************
6. 991px
************/

@media only screen and (max-width: 991px) {}

/************
7. 959px
************/

@media only screen and (max-width: 959px) {}

/************
8. 880px
************/

@media only screen and (max-width: 880px) {}

/************
9. 768px
************/

@media only screen and (max-width: 768px) {

    .jumbotron-fluid .container {
        margin: 180px auto
    }

    .btn-primary {
        display: block;
        margin: 0 auto;
        margin-top: 30px;

    }
    
    #signupForm{
        width: 600px;
        height: 700px;
        padding: 40px
    }

}

/************
10. 767px
************/

@media only screen and (max-width: 767px) {}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {}

/************
11. 539px
************/

@media only screen and (max-width: 539px) {}

/************
12. 480px
************/

@media only screen and (max-width: 480px) {}

/************
13. 479px
************/

@media only screen and (max-width: 479px) {
    .jumbotron-fluid .container .display-4 {
        text-align: left;
        /*font-size: 24px;*/
    }

    .jumbotron-fluid .container .lead {
        font-family: poppins;
        text-align: left;
    }

    .jumbotron-fluid .container {
        margin: 70px auto;
    }

    .active {
        border-bottom: none;
        text-decoration-line: underline;
        text-decoration-color: red;
        ;
    }

    .btn-primary {
        margin-top: 40px;
    }
    
    #signupForm{
        width: 350px;
        height: 600px;
        padding: 40px;
    }

    
}

/************
14. 400px
************/

@media only screen and (max-width: 400px) {
    .jumbotron-fluid .container .display-4 {
        text-align: left;
        font-size: 44px;
    }

    .jumbotron-fluid .container .lead {
        font-family: poppins;
        text-align: left;
    }

    .jumbotron-fluid .container {
        margin: 60px auto;
    }

    .active {
        border-bottom: none;
        text-decoration-line: underline;
        text-decoration-color: red;
        ;
    }

    .btn-primary {
        margin-top: 30px;
    }
    
    .navbar-collapse{
        
    }
    
    #signupForm{
        width: 300px;
        height: 500px;
        padding: 40px
    }
    
    

}
