* {
    color:white;
    font-family: lato, raleway, helvetica, sans-serif;
}

body {
    background: #121d28;
}


a:active{
    display: list-item;
    list-style: square;
}


a:hover{
    border-bottom: 3px solid #24f2ad;
    padding-bottom: 5px;
    display: list-item;
    list-style: disc;
}


nav ul li h2 a:hover {
    text-decoration: none;
    list-style: none;
    border:0;
}



nav {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

nav ul li{
    display: inline-block;
    margin: auto 15px;
}

nav ul li h2{
    margin-right: 900px
}


nav ul li a {
    text-decoration: none;
}
/*
.container {
    border:2px solid white;
    margin: auto 300px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.middleText h1{
    text-align: center;
}

.middleText p{
    text-align: center;
}
*/
.container {
    border:2px solid white;
    margin: auto 300px;
    margin-top: 10px;
}

.container footer {
    text-align: center;
}

.middleText{
    border: solid 2px orange;
    text-align: center;
    margin-bottom: 20px;
}

